$main-orange: #eeaf69;
$fade-orange: #f2d3b3;
$main-blue: #90c8c5;
$fade-blue: #c3dfe0;

* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.nav {
 flex-wrap: nowrap;
 justify-content: end;
}

h1, h2 {
    font-size: 20px;
}

.box {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 10px;
}

.about {
    text-align: center;
}

.workshops {
    background: $fade-orange;
}

.carousel {
    text-align: center;
    max-width: 400px;
}

.testimonial {
    width: 300px;
}
