@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");
* {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0 auto;
  background: #F7F6FC;
  color: #545454; }

h1, h2 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); }

h4, h6 {
  font-weight: bold;
  line-height: 10px; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.navbar {
  background: #F7F6FC;
  position: fixed;
  height: 60px; }

.nav-item img {
  max-width: 40px;
  padding-top: 5px; }

.nav-item li {
  list-style: none; }

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 95%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.main-container {
  margin-top: 60px; }

.container {
  max-width: 100%;
  padding: 10px; }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 100%;
  height: 200px;
  padding: 0;
  margin: 0 auto;
  background-image: url("https://i.imgur.com/PWxZknH.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .banner img {
    max-width: 100%; }

.box {
  height: 50px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.5); }

.workshops {
  background: #f2d3b3; }

.services {
  background: #ddd4cf; }

.contact {
  background: #c3dfe0; }

.payment {
  background: #e9ecee; }

.box-text {
  text-align: center;
  line-height: 20px;
  max-width: 400px;
  margin: 0px 10px 0px 10px; }

.fa-chevron-right {
  font-size: 15px;
  padding-top: 3px;
  margin: 0 auto;
  width: 120px;
  height: auto;
  color: #545454;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear; }

.fa-chevron-right.open {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear; }

.btn {
  color: #545454;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  background: transparent;
  border: none;
  font-size: 20px;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn:hover, .btn:active, .btn:focus {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  color: #545454; }

.about {
  max-width: 400px;
  text-align: center;
  padding: 10px; }

.carousel-control {
  font-size: 30px;
  top: 190px;
  font-weight: 100;
  line-height: 30px;
  color: #545454;
  background: transparent;
  text-align: center;
  border-radius: 100;
  border: none;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  -webkit-box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.5); }

.carousel-control:hover, .carousel-control:focus {
  color: #545454;
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.carousel-inner {
  font-size: 12px;
  line-height: 15px;
  -webkit-box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.5); }

.carousel {
  text-align: center;
  max-width: 500px; }

.testimonial {
  max-width: 100%;
  max-height: auto;
  padding: 20px;
  border-radius: 5px; }

.test-1 {
  background: #c3dfe0; }

.test-2 {
  background: #f2d3b3; }

.test-3 {
  background: #ddd4cf; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  height: 60px;
  background: #DEDCE6;
  width: 100%;
  padding: 10px; }
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0; }

footer img {
  width: 60%; }

#menuToggle {
  display: block;
  position: fixed;
  grid-area: menu;
  top: 20px;
  left: 20px;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #90c8c5; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none; }

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #90c8c5;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
  -ms-transform-origin: 4px 0px;
  transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%; }

/* transform all the slices of hamburger
      into a crossmark */
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
  -ms-transform: rotate(45deg) translate(-2px, -1px);
  transform: rotate(45deg) translate(-2px, -1px);
  background: #90c8c5; }

/* hide the middle one */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
  -ms-transform: rotate(0deg) scale(0.2, 0.2);
  transform: rotate(0deg) scale(0.2, 0.2); }

/* the last one goes the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
  -ms-transform: rotate(-45deg) translate(0, -1px);
  transform: rotate(-45deg) translate(0, -1px); }

/* make this absolute positioned
       at the top left of the screen */
#menu {
  z-index: 1;
  position: fixed;
  width: 150px;
  height: 200px;
  border-radius: 5px;
  margin: 0 0 0 -20px;
  background: #F7F6FC;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: background 0.3s linear, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.3s linear, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.3s linear;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.3s linear;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.3s linear, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu li {
  text-align: left;
  padding-left: 10px;
  font-size: 20px;
  color: #90c8c5;
  line-height: 35px; }

#menu.scrolled {
  background: #277752;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-box-shadow: inset 0px 4px 12px -3px #383838;
  -moz-box-shadow: inset 0px 4px 12px -3px #383838;
  box-shadow: inset 0px 4px 12px -3px #383838; }

#menu a {
  text-decoration: none;
  padding: 0; }

/* to slide the menu in from the left */
#menuToggle input:checked ~ ul {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }
