@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");
* {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.mobile {
  display: none; }

body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0 auto;
  background: #F7F6FC;
  color: #545454; }

h1, h2 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); }

h3 {
  font-weight: 500;
  padding: 0;
  margin: 5px; }

h4, h6 {
  font-weight: bold;
  line-height: 10px; }

hr {
  background: #90c8c5;
  border: 1px solid #90c8c5;
  max-width: 200px;
  margin: 0 auto; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.navbar-fixed-top {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: background-color 0.3s linear 0s, -webkit-box-shadow 0.3s linear 0s;
  transition: background-color 0.3s linear 0s, -webkit-box-shadow 0.3s linear 0s;
  -o-transition: background-color 0.3s linear 0s, box-shadow 0.3s linear 0s;
  transition: background-color 0.3s linear 0s, box-shadow 0.3s linear 0s;
  transition: background-color 0.3s linear 0s, box-shadow 0.3s linear 0s, -webkit-box-shadow 0.3s linear 0s; }

.navbar-fixed-top.opaque {
  background-color: #F7F6FC;
  -webkit-transition: background-color 0.3s linear 0s, -webkit-box-shadow 0.3s linear 0s;
  transition: background-color 0.3s linear 0s, -webkit-box-shadow 0.3s linear 0s;
  -o-transition: background-color 0.3s linear 0s, box-shadow 0.3s linear 0s;
  transition: background-color 0.3s linear 0s, box-shadow 0.3s linear 0s;
  transition: background-color 0.3s linear 0s, box-shadow 0.3s linear 0s, -webkit-box-shadow 0.3s linear 0s;
  -webkit-box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.5); }

.navbar {
  z-index: 2;
  position: fixed;
  height: 60px; }

.nav-item img {
  max-width: 40px;
  padding-top: 5px; }

.nav-link li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  padding-right: 40px;
  padding-top: 5px; }

.nav-link a {
  color: #729B9C;
  font-size: 16px; }

a {
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear; }

a:focus, a:visited {
  text-decoration: none; }

a:hover {
  color: #9c9a9d;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  text-decoration: none; }

.nav-item li {
  list-style: none; }

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 95%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.container {
  max-width: 100%;
  padding: 10px; }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 100%;
  height: 700px;
  margin: 0 auto;
  background-image: url("https://i.imgur.com/B6kggTH.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .banner img {
    max-width: 100%; }

.bio {
  max-width: 500px;
  padding: 10px;
  font-size: 15px;
  text-align: center; }

.abt, .ty {
  max-width: 80px; }

.break {
  margin-bottom: 100px; }

.about {
  max-width: 600px;
  text-align: center;
  padding: 10px; }

.row {
  margin: 0 auto;
  text-align: center;
  height: 270px; }

.col {
  background: #c3dfe0;
  height: 230px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px; }

.services {
  background: #ddd4cf; }

.workshops {
  background: #f2d3b3; }

.payment {
  background: #e9ecee; }

.box {
  -webkit-box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.5); }

.carousel-control {
  font-size: 30px;
  top: 190px;
  font-weight: 100;
  line-height: 30px;
  color: #545454;
  background: transparent;
  text-align: center;
  border-radius: 100;
  border: none;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  -webkit-box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.5); }

.carousel-control:hover, .carousel-control:focus {
  color: #545454;
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.carousel-inner {
  font-size: 12px;
  line-height: 15px; }

.carousel {
  text-align: center;
  max-width: 500px; }

.testimonial {
  max-width: 100%;
  max-height: auto;
  padding: 20px; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  background: #DEDCE6;
  width: 100%; }
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0; }

footer img {
  width: 20%;
  padding: 10px; }

#menuToggle {
  display: block;
  position: fixed;
  grid-area: menu;
  top: 20px;
  left: 20px;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #90c8c5; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none; }

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #90c8c5;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
  -ms-transform-origin: 4px 0px;
  transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%; }

/* transform all the slices of hamburger
      into a crossmark */
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
  -ms-transform: rotate(45deg) translate(-2px, -1px);
  transform: rotate(45deg) translate(-2px, -1px);
  background: #90c8c5; }

/* hide the middle one */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
  -ms-transform: rotate(0deg) scale(0.2, 0.2);
  transform: rotate(0deg) scale(0.2, 0.2); }

/* the last one goes the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
  -ms-transform: rotate(-45deg) translate(0, -1px);
  transform: rotate(-45deg) translate(0, -1px); }

/* make this absolute positioned
       at the top left of the screen */
#menu {
  top: 60px;
  z-index: 1;
  position: fixed;
  width: 150px;
  padding: 10px;
  margin: 0 0 0 -25px;
  background: #F7F6FC;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: background 0.3s linear, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.3s linear, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.3s linear;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.3s linear;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.3s linear, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -webkit-box-shadow: inset 6px 7px 5px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: inset 6px 7px 5px 0px rgba(0, 0, 0, 0.43);
  box-shadow: inset 5px 2px 4px 0px rgba(0, 0, 0, 0.3); }

#menu li {
  text-align: left;
  padding-left: 10px;
  font-size: 18px;
  color: #90c8c5;
  line-height: 35px; }

#menu.scrolled {
  background: #277752;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-box-shadow: inset 0px 4px 12px -3px #383838;
  -moz-box-shadow: inset 0px 4px 12px -3px #383838;
  box-shadow: inset 0px 4px 12px -3px #383838; }

#menu a {
  text-decoration: none;
  padding: 0;
  color: #90c8c5; }

/* to slide the menu in from the left */
#menuToggle input:checked ~ ul {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }

.wrapper {
  margin: 20px auto;
  width: 100%;
  display: block;
  text-align: center;
  -webkit-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease;
  background: #f2d3b3;
  border-radius: 5px; }

.wrapper2 {
  background: #ddd4cf; }

.wrapper3 {
  background: #c3dfe0; }

.wrapper4 {
  background: #e9ecee; }

.wrapper.active .arrow {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
  -ms-transform: rotate(45deg) translate(-5px, -5px);
  transform: rotate(45deg) translate(-5px, -5px); }

.wrapper.active .arrow:before {
  -webkit-transform: translate(10px, 0);
  -ms-transform: translate(10px, 0);
  transform: translate(10px, 0); }

.wrapper.active .arrow:after {
  -webkit-transform: rotate(90deg) translate(10px, 0);
  -ms-transform: rotate(90deg) translate(10px, 0);
  transform: rotate(90deg) translate(10px, 0); }

.wrapper.active ul {
  opacity: 1;
  height: 108px; }

.arrow {
  color: #545454;
  width: 13px;
  height: 13px;
  display: inline-block;
  position: relative;
  bottom: -5px;
  left: -10px;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  margin-top: 2px;
  text-align: left;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  float: right; }

.arrow:before, .arrow:after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 12px;
  height: 3px;
  background-color: #545454;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease; }

.arrow:after {
  position: absolute;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  top: -5px;
  left: 5px; }

.click-text {
  font-size: 20px;
  display: block;
  text-align: left;
  padding: 20px;
  margin: 0;
  cursor: pointer;
  color: #545454;
  -webkit-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease; }

.click-text:hover {
  color: #545454; }

.main-container ul {
  padding: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease; }

.main-container li {
  list-style-type: none;
  margin: 0 auto;
  padding: 4px 12px;
  text-align: left;
  cursor: pointer; }

@media screen and (max-width: 800px) {
  .desktop {
    display: none; }
  .mobile {
    display: block; }
  .navbar {
    z-index: 2;
    position: fixed;
    height: 60px; } }
