@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");
* {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0 auto;
  background: #F7F6FC; }

h1, h2 {
  font-weight: 400;
  font-size: 20px;
  text-align: center; }

.navbar {
  background: #F7F6FC;
  position: fixed;
  height: 60px; }

.main-container {
  margin-top: 60px; }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 100%;
  height: 200px;
  padding: 0;
  margin: 0 auto;
  background-image: url(/resources/bg5.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .banner img {
    max-width: 100%; }

.box {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px; }

.workshops {
  background: #f2d3b3; }

.services {
  background: #ddd4cf; }

.contact {
  background: #c3dfe0; }

.payment {
  background: #e9ecee; }

.box-text {
  padding: 10px; }

.btn {
  text-align: left;
  background: transparent;
  width: 100%;
  border: none;
  font-size: 20px;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn:hover, .btn:active, .btn:focus {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none; }

.about {
  text-align: center; }

.carousel-control {
  /* position: absolute; */
  /* top: 40%; */
  width: 40px;
  height: 40px;
  top: 200px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #fff;
  border-radius: 0;
  border: none;
  opacity: 0.5;
  -webkit-filter: none;
  filter: none; }

.carousel {
  text-align: center;
  max-width: 600px; }

.icon-next {
  position: relative;
  padding-left: 100px; }

.carousel-control-next {
  right: auto;
  margin-left: 10px; }

.testimonial {
  max-width: 300px;
  max-height: auto;
  padding: 10px;
  background: #ddd4cf;
  border-radius: 5px; }

#menuToggle {
  display: block;
  position: fixed;
  grid-area: menu;
  top: 20px;
  left: 20px;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #90c8c5; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none; }

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #90c8c5;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
  -ms-transform-origin: 4px 0px;
  transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%; }

/* transform all the slices of hamburger
      into a crossmark */
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
  -ms-transform: rotate(45deg) translate(-2px, -1px);
  transform: rotate(45deg) translate(-2px, -1px);
  background: #90c8c5; }

/* hide the middle one */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
  -ms-transform: rotate(0deg) scale(0.2, 0.2);
  transform: rotate(0deg) scale(0.2, 0.2); }

/* the last one goes the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
  -ms-transform: rotate(-45deg) translate(0, -1px);
  transform: rotate(-45deg) translate(0, -1px); }

/* make this absolute positioned
       at the top left of the screen */
#menu {
  z-index: 1;
  position: fixed;
  width: 150px;
  height: 200px;
  border-radius: 5px;
  margin: 0 0 0 -20px;
  background: #F7F6FC;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: background 0.3s linear, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.3s linear, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.3s linear;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.3s linear;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.3s linear, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu li {
  text-align: left;
  padding-left: 10px;
  font-size: 20px;
  color: #90c8c5;
  line-height: 35px; }

#menu.scrolled {
  background: #277752;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-box-shadow: inset 0px 4px 12px -3px #383838;
  -moz-box-shadow: inset 0px 4px 12px -3px #383838;
  box-shadow: inset 0px 4px 12px -3px #383838; }

#menu a {
  text-decoration: none;
  padding: 0; }

/* to slide the menu in from the left */
#menuToggle input:checked ~ ul {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }
